<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <typeAlias alias="IBrowserManager" type="Game2048.Infrastructure.Interfaces.IBrowserManager, Game2048" />
      <typeAlias alias="BrowserManager" type="Game2048.Infrastructure.BrowserManager, Game2048" />

      <typeAlias alias="IGameInteractor" type="Game2048.Game.Services.Interfaces.IGameInteractor, Game2048" />
      <typeAlias alias="GameInteractor" type="Game2048.Game.Services.GameInteractor, Game2048" />

      <typeAlias alias="IGameStateRetriever" type="Game2048.Game.Services.Interfaces.IGameStateRetriever, Game2048" />
      <typeAlias alias="GameStateRetriever" type="Game2048.Game.Services.GameStateRetriever, Game2048" />

      <typeAlias alias="IGameSolver" type="Game2048.Game.Solver.Interfaces.IGameSolver, Game2048" />
      <typeAlias alias="GameSolver" type="Game2048.Game.Solver.GameSolver, Game2048" />

      <typeAlias alias="ICellTracker" type="Game2048.Game.Services.Interfaces.ICellTracker, Game2048" />
      <typeAlias alias="CellTracker" type="Game2048.Game.Services.CellTracker, Game2048" />

      <typeAlias alias="IMediaPlayer" type="Game2048.Infrastructure.Interfaces.IMediaPlayer, Game2048" />
      <typeAlias alias="MediaPlayer" type="Game2048.infrastructure.MediaPlayer, Game2048" />

      <typeAlias alias="IGameViewModel" type="Game2048.Game.ViewModels.Interfaces.IGameViewModel, Game2048" />
      <typeAlias alias="GameViewModel" type="Game2048.Game.ViewModels.GameViewModel, Game2048" />

      <typeAlias alias="INotificationService" type="Game2048.Infrastructure.Interfaces.INotificationService, Game2048" />
      <typeAlias alias="NotificationService" type="Game2048.Infrastructure.NotificationService, Game2048" />

      <typeAlias alias="IViewModelStateUpdater" type="Game2048.Infrastructure.Interfaces.IViewModelStateUpdater, Game2048" />
      <typeAlias alias="ViewModelStateUpdater" type="Game2048.Infrastructure.ViewModelStateUpdater, Game2048" />
      
      <typeAlias alias="IHeuristicWeightProvider" type="Game2048.Game.Solver.Interfaces.IHeuristicWeightProvider, Game2048" />
      <typeAlias alias="HeuristicWeightProvider" type="Game2048.Game.Solver.HeuristicWeightProvider, Game2048" />

      <typeAlias alias="Browser" type="System.Windows.Controls.WebBrowser, PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </typeAliases>

    <containers>
      <container>
        <types>
          <type type="Browser">
            <lifetime type="singleton" />
          </type>
          <type type="IBrowserManager" mapTo="BrowserManager">
            <lifetime type="singleton" />
          </type>
          <type type="IGameInteractor" mapTo="GameInteractor"/>
          <type type="IGameStateRetriever" mapTo="GameStateRetriever"/>
          <type type="ICellTracker" mapTo="CellTracker" />
          <type type="IMediaPlayer" mapTo="MediaPlayer" />
          <type type="IGameSolver" mapTo="GameSolver">
            <lifetime type="singleton" />
          </type>
          <type type="IGameViewModel" mapTo="GameViewModel" />
          <type type="INotificationService" mapTo="NotificationService" />
          <type type="IViewModelStateUpdater" mapTo="ViewModelStateUpdater" />
          <type type="IHeuristicWeightProvider" mapTo="HeuristicWeightProvider" />
        </types>
      </container>
    </containers>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="Penalty" value="200000"/>
    <add key="MonoPower" value="4.0"/>
    <add key="MonoWeight" value="45.0"/>
    <add key="SumPower" value="3.5"/>
    <add key="SumWeight" value="10.0"/>
    <add key="MergeWeight" value="900"/>
    <add key="EmptyWeight" value="250"/>
  </appSettings>
</configuration>

